body {
	         background-color:#ffffff;
             margin-top: 0em;
             margin-left: 0em;
             margin-right: 0em;
             margin-bottom: 0em; 
             padding-left:0em ;
             padding-bottom:0em ;
             padding-top: 0em;
             padding-right: 0em; 
}
/*HEAD-NAVBAR*/
.h_li a {
    height: 2.5;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    line-height: 24px;
}

.h_li a:hover {
            /*background-color:#EEF7ED;*/
            transition: 0.5s;
            -webkit-transform: scale(1.1,1.1);
            transform: scale(1.1,1.1);
            background-color:#ffffff
}
    
.h_li a {
         float:left;
}

/*HEAD-NAVBAR*/


/*NAVBAR*/
.nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2F2F2F;
    font-family: Arial, Helvetica, sans-serif;
    height:70px;
}

.nav_li {
    float: left;
}

.nav_li a {
    height: 70px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    line-height: 2.5;
}

.nav_li a:hover {
            color: #ffffff;
            background-color:#78B556;
            transition: 0.5s;
}


/*DROPDOWN*/
li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    line-height: 2.5;
}

li a:active, .dropdown:hover .dropbtn {
    background-color: #78B556;
}

li .dropdown {
    display: inline-block;
    height: 51px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #78B556;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: 0.5s;
}

.dropdown-content a:hover {background-color: #599937}

.dropdown:hover .dropdown-content {
    display: block;
}
/*DROPDOWN*/
/*NAVBAR*/


/*LANDING IMAGE*/
.h_img{ 
     display: block;
     width: auto;
     max-width: 100%;
     max-height: 50%;
}
/*LANDING IMAGE*/

.par {
    color: #353535;
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
}

.c_head{
    color:#c1ae7c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight:bold;
    width: auto;
    text-align: center;
}

.head{
    color:#353535;
    margin-top:0px;
    margin-bottom:5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight:bold;
    width: auto;
    text-align: center;
}

h1:hover {
          color:#424242;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 6px 6px 16px 16px;
    max-width:75%;
    align: auto;
    padding-bottom:20px;
    margin-left: 12.5%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 6px 6px 12px 12px;
}

/* Add some padding inside the card container */
.container {
    padding: 4px 16px;
   
}

.list{
      list-style-type: circle;
}

.line_type1{
            color:#c1ae7c; 
}


.card_image{
  padding-left:0px;
  border-radius:6px 6px 0px 0px;
  width: 100%;
  height: 100%;
}


@font-face  {
             font-family: "OpenSans-Regular";
             src: url(font/OpenSans-Regular.tff);
             font-weight: normal;
             font-style: normal;
}